# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/
*.egg-info/
__pycache__/
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.pyc

# Outputs
# Ignore everything in outputs except the sample CSV
outputs/*
!outputs/sample.csv

# Power BI
powerbi/*
!powerbi/**/*.pbit
!powerbi/*.pbit
*.pbix
*.pbix.tmp
*.pbix.local
*.pbit.tmp

# Azure Function
azure-function/.python_packages
azure-function/obj/
local.settings.json

# Articles
article/

# Backup
backup/
